.App {
  text-align: center;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 260px;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 250px;
  width: 500px;
  position: center;
}